label.requerido:after{
    content: " *";
    color: #e73d4a;
}

.float-rigth{
    float: right;
}

.float-left{
    float: left;
}

.boton-eliminar{
    background: transparent;
    border: none;
}

.ml{
    margin-left: auto;
}